<section *ngIf="data && data.countryName && data.participationCount && data.medalCount && data.athleteCount && data.lineChart" id="country-container">
  <app-title-box [title]="data.countryName"></app-title-box>
  <div class="row">
    <app-box text="Number of entries" [number]="data.participationCount" class="number"></app-box>
    <app-box text="Total number medals" [number]="data.medalCount" class="number"></app-box>
    <app-box text="Total number of athletes" [number]="data.athleteCount" class="number"></app-box>
  </div>
  <div id="linechart-container">
    <ngx-charts-line-chart
      [animations]="true"
      [results]="data.lineChart"
      [legend]="false"
      [xAxis]="true"
      [yAxis]="true"
      [autoScale]="true"
      [roundDomains]="true"
      [showXAxisLabel]="true"
      [xAxisLabel]="'Dates'"
      [xAxisTickFormatting]="axisFormat"
      [yAxisTickFormatting]="axisFormat"
    ></ngx-charts-line-chart>
  </div>
</section>
