<section>
  <ng-container *ngIf="clientError as error; else noError">
    <h1>Error</h1>
    <h2>Technical details</h2>
    <dl>
      <ng-container *ngIf="error['name'] as name">
        <dt>Name</dt>
        <dd>{{ name }}</dd>
      </ng-container>
      <ng-container *ngIf="error['message'] as message">
        <dt>Message</dt>
        <dd>{{ message }}</dd>
      </ng-container>
      <ng-container *ngIf="error['stack'] as stack">
        <dt>Stack</dt>
        <dd><pre>{{ stack }}</pre></dd>
      </ng-container>
    </dl>
  </ng-container>
  <ng-template #noError>
    <h1>No error</h1>
  </ng-template>
</section>
