@import '../../../../styles.scss';

$title-box-background-color: $common-boxes-color;
$title-box-text-color: $common-pages-background-color;

.title-box {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
  padding: 1ex;
  color: $title-box-text-color;
  background-color: $title-box-background-color;
  border-radius: 8px;
}
