@import '../../../../styles.scss';

$box-border-color: $common-boxes-color;
$box-background-color: $common-pages-background-color;
$box-text-color: #7a7a7a;
$box-number-color: #000000;

h2 {
  padding: 1ex;
  border: 2px solid $box-border-color;
  border-radius: 8px;
  background-color: $box-background-color;
  text-align: center;
  color: $box-text-color;
  font-weight: normal;


  strong {
    text-align: center;
    font-weight: bold;
    color: $box-number-color;
  }
}
