<!-- Loading spinner -->
<div *ngIf="loading; else showContent" class="loading-container">Loading...</div>

<ng-template #showContent>
  <main>
    <header>
      <nav>
        <div id="brand-name-container">
          <a
            routerLink=""
            routerLinkActive #rla="routerLinkActive"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="rla.isActive ? 'disabled-link' : ''"
            aria-label="Back to homepage"
          >
            <img
              id="brand-logo"
              [title]="rla.isActive ? '' : 'Home'"
              src="/assets/svg/home.svg"
              alt="logo"
              aria-hidden="true"
            >
          </a>
        </div>
      </nav>
    </header>
    <router-outlet></router-outlet>
  </main>
</ng-template>
