@import '../styles.scss';

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 5;
}

header {
  display: block;
  background-color: $common-pages-background-color;
  height: $header-height;
  box-shadow: 0 5px 25px #E8E8E8;
  user-select: none;

  a.disabled-link {
    pointer-events: none;
    cursor: default;
  }
}


