<ng-container *ngIf="(data$ | async) as data" >
  <div *ngIf="data['jOsCount'] && data['countriesCount'] && data['pieChart']" id="dashboard-container">
    <app-title-box title="Medals per Country" class="title"></app-title-box>
    <div class="row">
      <app-box text="Number of JOs" [number]="+data['jOsCount']" class="number"></app-box>
      <app-box text="Number of countries" [number]="+data['countriesCount']" class="number"></app-box>
    </div>
    <div id="piechart-container">
      <ngx-charts-pie-chart
        class="truc"
        [animations]="true"
        [results]="data['pieChart']"
        [legend]="false"
        [labels]="true"
        [trimLabels]="true"
        [maxLabelLength]="15"
        [doughnut]="false"
        (select)="onSelect($event)"
      >
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip">
            <div>{{ model.name }}</div>
            <div>
              <fa-icon [icon]="faAward" size="xs"></fa-icon>
              {{ model.value }}
            </div>
          </div>
        </ng-template>
      </ngx-charts-pie-chart>
    </div>
  </div>
</ng-container>
