@import '../../../styles.scss';

$tooltip-background-color: $common-boxes-color;
$title-box-min-height: $common-title-box-min-height;
$row-min-height: $common-row-min-height;
$row-max-height: 180px;
$linechart-vertical-margin: 2em;

#country-container {
  margin: 0 auto;

  app-title-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: $title-box-min-height;
  }

  .row {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1ex 2ex;
    min-height: $row-min-height;
  }

  @media (max-width: 520px) {
    .row {
      flex-direction: column;
    }
  }

  #linechart-container {
    margin: $linechart-vertical-margin auto;
    max-width: 520px;
    min-height: calc(max(
      200px,
      100vh - (2 * $w3c-margin) - $header-height - $title-box-min-height - $row-max-height - (2 * $linechart-vertical-margin)
    )
    );
  }
}
