@import '../../../styles.scss';

$tooltip-background-color: $common-boxes-color;

#country-container {
  margin: 0 auto;
  max-width: calc(max(60%,768px));

  app-title-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1ex 2ex;
    min-height: 100px;
  }

  #linechart-container {
    margin: 2em auto;
    min-height: calc(90vh - 100px - 180px - 2em);
  }
}

