@import '../../../../styles.scss';

$title-box-background-color: $common-boxes-color;
$title-box-text-color: $common-pages-background-color;

.title-box {
  padding: 0.5ex 1ex;
  color: $title-box-text-color;
  background-color: $title-box-background-color;
  border-radius: 8px;
  text-align: center;
  font-weight: normal;
}
