/* You can add global styles to this file, and also import other style files */
$common-pages-background-color: #ffffff;
$common-boxes-color: #04838f;

  ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
      border-top-color: $common-boxes-color;
    }

    background-color: $common-boxes-color;
  }

