/* Global Variables */
$common-pages-background-color: rgba(255, 255, 255, 1);
$common-boxes-color: rgba(4, 131, 143, 1);
$header-height: 20px;
$common-light-text-color: #7a7a7a;
$common-title-box-min-height: 100px;
$common-row-min-height: 100px;
$w3c-margin: 8px;


/* Define Montserrat-VariableFont font */
@font-face {
  font-family: Montserrat-VariableFont;
  src : url("assets/font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* Use Montserrat-VariableFont font in the whole document */
:root {
  font-family: Montserrat-VariableFont, sans-serif;
}

/* Charts tooltips background color */
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: $common-boxes-color;
  }
  background-color: $common-boxes-color;
}

/* Size and placement of line chart x-axis label */
ngx-charts-line-chart {
  .x.axis {
    .ng-star-inserted > text:only-child {
      font-size: x-large;
      fill: $common-light-text-color;
      transform: translate(0, 1em);
    }
  }
}
